.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.navbar-brand(href='/')
        i.fas.fa-cube
        | Sound Server
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title === 'Главная') ? 'active' : undefined)
          a(href='/') Главная
        if user
          li(class=(title === 'Статус') ? 'active' : undefined)
            a(href='/soundserver/status') Статус
          li(class=(title === 'Настройки') ? 'active' : undefined)
            a(href='/soundserver/settings') Настройки
          li(class=dropdown)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span Система
              i.caret
              ul(class='dropdown-menu')
                li(class=(title === 'Основные настройки') ? 'active' : undefined)
                  a(href='/system/global') Основные настройки
                li(class=(title === 'Сетевые настройки') ? 'active' : undefined)
                  a(href='/system/networking') Сетевые настройки
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title === 'Вход в систему') ? 'active' : undefined)
            a(href='/login') Вход в систему
        else
          li.dropdown(class=(title === 'Управление аккаунтом') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Мой аккаунт
              li.divider
              li
                a(href='/logout') Выйти
