extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Забыли пароль?
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Введите свой адрес электронной почты ниже, и мы отправим вам инструкции по сбросу пароля.
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fas.fa-key.fa-sm
          | Сбросить пароль
