extends layout

block content
  h1 soundserver
  p.lead Описание:

  p Статус - информация о параметрах аудиоканалов и системы
  p Настройки - изменяемые параметры аудиоканалов: громкость, частота, фильтры, кодеки
  p Система - параметры системы: сетевые настройки, имя устройства
