extends ../layout

block content
  .page-header
    h3 Global settings

  .row
    table.table.table-striped.table-bordered
      thead
        tr
          th Parameter
          th Value
      tbody
        for data in systemData
          tr
            td= data.name
            td= data.value

  .row
    form.form-horizontal(action='/system/reboot', method='POST', onsubmit="return confirm('Вы уверены, что хотите перезапустить сервер?');")
      .form-group
        input(type='hidden', name='_csrf', value=_csrf)
        .col-sm-offset-6
          button.btn.btn-danger(type='submit')
            i.fas.fa-trash-alt.fa-sm
            | Перезапустить сервер
